---
layout: home
title: Kyle Boon | Staff Software Engineer
---
<div class="hero-section">
    <div class="profile-image">
        <img src="/img/headshot.jpg" alt="Kyle Boon - Staff Software Engineer">
    </div>
    <div class="intro-text">
        <h1>Hi, I'm Kyle Boon</h1>
        <p class="tagline">Staff Software Engineer specializing in distributed systems and cloud architecture</p>
        
        <div class="quick-links">
            <a href="/aboutme">About Me</a>
            <a href="/resume">Resume</a>
            <a href="/blog">Blog</a>
            <a href="/presentations">Technical Presentations</a>
            <a href="https://github.com/kyleboon">GitHub</a>
            <a href="https://www.linkedin.com/in/kyleboon/">LinkedIn</a>
            <a href="https://www.instagram.com/kyle.boon">Instagram</a>
        </div>
    </div>
</div>
<div class="blog-section">
    <h2>Recent Writing</h2>
    <ul class="post-list">
        {% for post in paginator.posts limit:5 %}
        <li class="post-item">
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
            {% if post.description %}
            <p class="post-description">{{ post.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
