---
common-css:
  - "/assets/css/main.css"
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <a class="sr-only" href="#maincontent">Skip to content</a>
  <body>
    <header>
      <nav> 
        <a href="/">Home</a>
        <a href="/aboutme" {% if page.url == '/aboutme' %}aria-current="page"{% endif %}>About</a>
        <a href="/blog" {% if page.url == '/blog' %}aria-current="page"{% endif %}>Blog</a>
        <a href="/presentations" {% if page.url == '/presentations' %}aria-current="page"{% endif %}>Technical Presentations</a>
        <a href="/resume" {% if page.url == '/resume' %}aria-current="page"{% endif %}>Resume</a>
      </nav>
    </header>
    <main id="maincontent">
        {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>